# Ignore image file
vmlinux
BiscuitOS
bootloader
bootsect
setup
vmlinux.bin

# Ignore indicate file
*.o
.*
*.*~
*.map
*.svg
*.patch
*.
*.a
*.cmd
*.img
*.bin

# Execte file

!.gitignore
# output
keyboard.s
drivers/chr_drv/keyboard.s

*.expand
*.vregs
*.into_cfglayout
*.jump
*.reginfo
*.outof_cfglayout
*.split1
*.dfinit
*.mode_sw
*.asmcons
*.ira
*.reload
*.pro_and_epilogue
*.jump2
*.split4
*.stack
*.zero_call_used_regs
*.alignments
*.mach
*.barriers
*.shorten
*.nothrow
*.dwarf2
*.final
*.dfinish
